* {
    text-decoration: none!important;
    list-style: none;
}

#AppHeader {
    .row {
        justify-content: space-between!important;
        ul {
            margin: 15px!important;
            li {
                display: inline;
                a {
                    padding: 15px;
                }
                a:hover {
                    border-bottom: 1px solid red;
                }
            }
        }
    }
}

#Auth {
    .container {
        display: flex;
        align-items: center;
        height: 75vh;
        justify-content: center;
        .auth {
            width: 50vw;
        }
    }
}