* {
    text-decoration: none!important;
    list-style: none;
    font-style: normal;
}

body {
    background-color: #f7f7f7!important;
    position: relative;
}

#AppHeader {
    height: 10vh;
    display: flex;
    align-items: center;
    .row {
        justify-content: space-between!important;
        width: 100%!important;
        ul {
            margin: 15px!important;
            padding: 0;
            li {
                display: inline;
                a {
                    padding: 15px;
                }
                a:hover {
                    border-bottom: 1px solid red;
                }
            }
        }
    }
}

#answers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.form-group.answers {
    flex-grow: 1;
    width: 45%;
    margin: 0;
    height: 150px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px;
}

// #register {
//     position: absolute;
//     left: 0;
//     top: 0;
//     z-index: 999;
//     padding: 0;
// }
#auth {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10vh;
    .auth {
        background-color: white;
        padding: 5vw;
        border-radius: 4px;
        position: relative;
        .rounded-circle {
            position: absolute;
            right: 0;
            top: 0;
            margin-top: -2vh;
            font-size: 5rem;
            margin-right: -2vw;
            z-index: 11;
        }
        h2 {
            text-transform: uppercase;
            &:before {
                content: "";
                width: 100%;
                height: 30px;
                background-color: black;
            }
        }
    }
}