@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    text-decoration: none!important;
    list-style: none;
    font-style: normal;
}

body {
    background-color: #f7f7f7!important;
    position: relative;
    height: 100%!important;
    min-height: 100%!important;
}

#AppHeader {
    width: inherit;
    max-width: inherit;
    height: 10vh;
    width: 100% !important;
    display: flex;
    align-items: center;
    z-index: 9999;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    .row {
        justify-content: space-between!important;
        // width: 100%!important;
        width: 60%;
        ul {
            margin: 15px!important;
            padding: 0;
            li {
                display: inline;
                a {
                    padding: 15px;
                    font-family: 'PT Sans', sans-serif;
                    font-weight: 600;
                    font-size: 1.6em;
                    color: white;
                }
                a:hover {
                    border-bottom: 1px solid red;
                }
            }
        }
    }
}

.App {
    display: flex;
    flex-flow: column;
    min-height: 100vh !important;
}

#content-container {
    // background: rgba(0, 0, 0, 0.3);
    // height: 90%!important;
    // box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 15px;
    flex-grow: 1;
    #center-content {
        background: rgba(0, 0, 0, 0.3);
        padding: 15px;
        border-radius: 5px;
        // position: absolute;
        // top: 0;
        // bottom: 0;
        // width: 1000px;
        // min-height: 100%;
    }
}

#playersListLobby ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#answers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.form-group.answers {
    flex-grow: 1;
    width: 45%;
    margin: 0;
    height: 150px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px;
}

#auth {
    // height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-top: -10vh;
    .auth {
        background-color: white;
        padding: 5vw;
        border-radius: 4px;
        position: relative;
        .rounded-circle {
            position: absolute;
            right: 0;
            top: 0;
            margin-top: -2vh;
            font-size: 5rem;
            margin-right: -2vw;
            z-index: 11;
        }
        h2 {
            text-transform: uppercase;
            &:before {
                content: "";
                width: 100%;
                height: 30px;
                background-color: black;
            }
        }
    }
}

.animate-bg {
    background-color: pink;
    // opacity: 0.5;
}

// @keyframes bgcolorchange {
//     0% {
//         background-color: pink;
//     }
//     25% {
//         background-color: magenta;
//     }
//     50% {
//         background-color: blue;
//     }
//     75% {
//         background-color: purple;
//     }
//     100% {
//         background-color: red;
//     }
// }
// /* Chrome, Safari, Opera */
// @-webkit-keyframes bgcolorchange {
//     0% {
//         background-color: pink;
//     }
//     25% {
//         background-color: magenta;
//     }
//     50% {
//         background-color: blue;
//     }
//     75% {
//         background-color: purple;
//     }
//     100% {
//         background-color: red;
//     }
// }